In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-02-15 03:25:58,-9.8000,-139.0333,79.21,74,0,11.72
1,1,Butaritari,KI,2021-02-15 03:25:58,3.0707,172.7902,79.92,79,96,19.15
2,2,Marsh Harbour,BS,2021-02-15 03:25:59,26.5412,-77.0636,75.81,86,0,15.19
3,3,Port Elizabeth,ZA,2021-02-15 03:25:59,-33.9180,25.5701,68.00,83,40,25.32
4,4,Rawson,AR,2021-02-15 03:22:43,-43.3002,-65.1023,58.37,65,9,16.93

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
print(city_data_df)

     City_ID            City Country                 Date      Lat       Lng  \
0          0          Atuona      PF  2021-02-15 03:25:58  -9.8000 -139.0333
1          1      Butaritari      KI  2021-02-15 03:25:58   3.0707  172.7902
2          2   Marsh Harbour      BS  2021-02-15 03:25:59  26.5412  -77.0636
3          3  Port Elizabeth      ZA  2021-02-15 03:25:59 -33.9180   25.5701
4          4          Rawson      AR  2021-02-15 03:22:43 -43.3002  -65.1023
..       ...             ...     ...                  ...      ...       ...
546      546      Zhezkazgan      KZ  2021-02-15 03:28:38  47.8043   67.7144
547      547        Sobolevo      RU  2021-02-15 03:28:38  54.4299   31.8996
548      548            Elat      IL  2021-02-15 03:28:38  29.5581   34.9482
549      549         Preston      GB  2021-02-15 03:28:39  53.7667   -2.7167
550      550   Makakilo City      US  2021-02-15 03:28:39  21.3469 -158.0858

     Max Temp  Humidity  Cloudiness  Wind Speed
0       79.21        74           0       11.72
1       79.92        79          96       19.15
2       75.81        86           0       15.19
3       68.00        83          40       25.32
4       58.37        65           9       16.93
..        ...       ...         ...         ...
546     17.91        97         100        7.11
547      5.07        95          96        6.15
548     57.20        62           0        8.05
549     42.01        90          35        1.01
550     82.40        65          20       13.80

[551 rows x 10 columns]

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2021-02-15 03:25:58,-9.8000,-139.0333,79.21,74,0,11.72
1,1,Butaritari,KI,2021-02-15 03:25:58,3.0707,172.7902,79.92,79,96,19.15
2,2,Marsh Harbour,BS,2021-02-15 03:25:59,26.5412,-77.0636,75.81,86,0,15.19
7,7,Rikitea,PF,2021-02-15 03:26:00,-23.1203,-134.9692,80.13,76,37,15.99
9,9,Vaini,TO,2021-02-15 03:26:00,-21.2000,-175.2000,86.00,70,20,6.91
15,15,Mahebourg,MU,2021-02-15 03:26:02,-20.4081,57.7000,75.20,88,40,4.61
20,20,Puerto Ayora,EC,2021-02-15 03:26:03,-0.7393,-90.3518,77.00,91,75,1.01
26,26,Manta,EC,2021-02-15 03:26:05,-0.9500,-80.7333,78.80,78,90,5.75
33,33,Saint-Philippe,RE,2021-02-15 03:26:07,-21.3585,55.7679,79.00,69,0,5.75
37,37,Domoni,KM,2021-02-15 03:26:09,-12.2569,44.5319,80.89,82,89,10.69

In [20]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame?
preferred_cities_df.count()

City_ID       130
City          130
Country       130
Date          130
Lat           130
Lng           130
Max Temp      130
Humidity      130
Cloudiness    130
Wind Speed    130
dtype: int64

In [21]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Atuona      PF     79.21  -9.8000 -139.0333
1       Butaritari      KI     79.92   3.0707  172.7902
2    Marsh Harbour      BS     75.81  26.5412  -77.0636
7          Rikitea      PF     80.13 -23.1203 -134.9692
9            Vaini      TO     86.00 -21.2000 -175.2000
15       Mahebourg      MU     75.20 -20.4081   57.7000
20    Puerto Ayora      EC     77.00  -0.7393  -90.3518
26           Manta      EC     78.80  -0.9500  -80.7333
33  Saint-Philippe      RE     79.00 -21.3585   55.7679
37          Domoni      KM     80.89 -12.2569   44.5319

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [26]:
hotel_df.head()

            City Country  Max Temp      Lat       Lng          Hotel Name
0         Atuona      PF     79.21  -9.8000 -139.0333              Atuona
1     Butaritari      KI     79.92   3.0707  172.7902  Isles Sunset Lodge
2  Marsh Harbour      BS     75.81  26.5412  -77.0636       Marsh Harbour
7        Rikitea      PF     80.13 -23.1203 -134.9692             Rikitea
9          Vaini      TO     86.00 -21.2000 -175.2000          Nukuhetulu

In [27]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# The text inside the multiline string is HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))