In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Narsaq,GL,60.9167,-46.0500,24.80,86,75,9.22,light snow,2021-02-15 16:10:20
1,1,Saskylakh,RU,71.9167,114.0833,-22.97,86,100,9.80,overcast clouds,2021-02-15 16:10:20
2,2,Barrow,US,71.2906,-156.7887,-13.00,77,1,10.36,clear sky,2021-02-15 16:10:21
3,3,Keti Bandar,PK,24.1447,67.4497,70.65,87,0,11.50,clear sky,2021-02-15 16:10:21
4,4,Yellowknife,CA,62.4560,-114.3525,-11.00,84,20,8.05,few clouds,2021-02-15 16:10:22

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
10,10,Saint-Philippe,RE,-21.3585,55.7679,80.60,69,20,2.30,few clouds,2021-02-15 16:10:23
12,12,Pipri,IN,19.8000,75.5333,75.20,53,0,4.79,clear sky,2021-02-15 16:10:24
13,13,Atuona,PF,-9.8000,-139.0333,78.17,78,25,11.45,scattered clouds,2021-02-15 16:10:24
15,15,Puerto Ayora,EC,-0.7393,-90.3518,82.00,74,40,6.91,light rain,2021-02-15 16:10:25
18,18,Rikitea,PF,-23.1203,-134.9692,79.23,79,58,14.83,broken clouds,2021-02-15 16:10:25
20,20,Yulara,AU,-25.2406,130.9889,77.00,31,8,6.91,clear sky,2021-02-15 16:10:26
21,21,Georgetown,MY,5.4112,100.3354,86.00,51,20,5.75,few clouds,2021-02-15 16:10:27
25,25,Butaritari,KI,3.0707,172.7902,79.16,79,21,15.14,few clouds,2021-02-15 16:10:28
40,40,Acarau,BR,-2.8856,-40.1200,87.62,57,54,12.59,broken clouds,2021-02-15 16:10:32
41,41,Castro,BR,-24.7911,-50.0119,77.52,57,1,7.90,clear sky,2021-02-15 16:10:33

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                200
City                   200
Country                198
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Current Description    200
Date                   200
dtype: int64

In [8]:
preferred_cities_df.count()

City_ID                200
City                   200
Country                198
Lat                    200
Lng                    200
Max Temp               200
Humidity               200
Cloudiness             200
Wind Speed             200
Current Description    200
Date                   200
dtype: int64

In [9]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                2
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
10,10,Saint-Philippe,RE,-21.3585,55.7679,80.60,69,20,2.30,few clouds,2021-02-15 16:10:23
12,12,Pipri,IN,19.8000,75.5333,75.20,53,0,4.79,clear sky,2021-02-15 16:10:24
13,13,Atuona,PF,-9.8000,-139.0333,78.17,78,25,11.45,scattered clouds,2021-02-15 16:10:24
15,15,Puerto Ayora,EC,-0.7393,-90.3518,82.00,74,40,6.91,light rain,2021-02-15 16:10:25
18,18,Rikitea,PF,-23.1203,-134.9692,79.23,79,58,14.83,broken clouds,2021-02-15 16:10:25
...,...,...,...,...,...,...,...,...,...,...,...
675,675,Batticaloa,LK,7.7102,81.6924,77.25,77,21,6.78,few clouds,2021-02-15 16:13:49
677,677,Kudahuvadhoo,MV,2.6708,72.8944,81.59,76,99,13.27,overcast clouds,2021-02-15 16:13:49
678,678,Morondava,MG,-20.2833,44.2833,77.65,87,100,15.05,moderate rain,2021-02-15 16:13:50
679,679,Rocha,UY,-34.4833,-54.3333,80.10,62,98,7.27,overcast clouds,2021-02-15 16:13:50
686,686,Maldonado,UY,-34.6667,-54.9167,78.80,73,20,6.91,few clouds,2021-02-15 16:13:26

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Saint-Philippe,RE,80.60,few clouds,-21.3585,55.7679,
12,Pipri,IN,75.20,clear sky,19.8000,75.5333,
13,Atuona,PF,78.17,scattered clouds,-9.8000,-139.0333,
15,Puerto Ayora,EC,82.00,light rain,-0.7393,-90.3518,
18,Rikitea,PF,79.23,broken clouds,-23.1203,-134.9692,
20,Yulara,AU,77.00,clear sky,-25.2406,130.9889,
21,Georgetown,MY,86.00,few clouds,5.4112,100.3354,
25,Butaritari,KI,79.16,few clouds,3.0707,172.7902,
40,Acarau,BR,87.62,broken clouds,-2.8856,-40.1200,
41,Castro,BR,77.52,clear sky,-24.7911,-50.0119,

In [12]:
len(hotel_df)

200

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

In [ ]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [21]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))