In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Keti Bandar,PK,70.65,clear sky,24.1447,67.4497,Keti Bandar
1,7,Hermanus,ZA,70.00,clear sky,-34.4187,19.2345,Hermanus
2,10,Saint-Philippe,RE,80.60,few clouds,-21.3585,55.7679,Saint-Philippe
3,12,Pipri,IN,75.20,clear sky,19.8000,75.5333,Pipri
4,13,Atuona,PF,78.17,scattered clouds,-9.8000,-139.0333,Atuona

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Trip into ARGENTINA.
# Grab the first hotel from the results and store the name.
argentina_vacation_df = vacation_df.loc[(vacation_df["Country"] == "AR")]
argentina_vacation_df.dropna()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
21,59,Mar Del Plata,AR,72.00,light intensity drizzle,-38.0023,-57.5575,Mar del Plata
60,175,San Rafael,AR,73.02,clear sky,-34.6177,-68.3301,San Rafael
69,197,Buenos Aires,AR,82.00,broken clouds,-34.6132,-58.3772,Buenos Aires
136,362,San Luis,AR,74.61,overcast clouds,-33.2950,-66.3356,San Luis
143,379,San Juan,AR,77.16,few clouds,-31.5375,-68.5364,San Juan
236,629,Santiago Del Estero,AR,88.86,light rain,-27.7951,-64.2615,Santiago del Estero
243,651,Villa Carlos Paz,AR,77.00,moderate rain,-31.4241,-64.4978,Villa Carlos Paz

In [7]:
new_column_order = ["City_ID", "City", "Country", "Lat","Lng", "Max Temp", "Current Description"]

In [8]:
argentina_vacation_df = argentina_vacation_df[new_column_order]

In [9]:
argentina_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
21,59,Mar Del Plata,AR,-38.0023,-57.5575,72.00,light intensity drizzle
60,175,San Rafael,AR,-34.6177,-68.3301,73.02,clear sky
69,197,Buenos Aires,AR,-34.6132,-58.3772,82.00,broken clouds
136,362,San Luis,AR,-33.2950,-66.3356,74.61,overcast clouds
143,379,San Juan,AR,-31.5375,-68.5364,77.16,few clouds
236,629,Santiago Del Estero,AR,-27.7951,-64.2615,88.86,light rain
243,651,Villa Carlos Paz,AR,-31.4241,-64.4978,77.00,moderate rain

In [20]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Let's pick by Minimum Temp to Maximum Temp cities. 
start = float(input("What is your Starting City_ID from AR List you would like for your trip? "))
stop1 = float(input("What is your First Stop City_ID from AR List you would like for your trip? "))
stop2 = float(input("What is your Second Stop City_ID from AR List you would like for your trip? "))
stop3 = float(input("What is your Third Stop City_ID from AR List you would like for your trip? "))
end = float(input("What is your Last City_ID from AR List you would like for your trip? "))

What is your Starting City_ID from AR List you would like for your trip? 197
What is your First Stop City_ID from AR List you would like for your trip? 59
What is your Second Stop City_ID from AR List you would like for your trip? 175
What is your Third Stop City_ID from AR List you would like for your trip? 379
What is your Last City_ID from AR List you would like for your trip? 651

In [21]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

In [22]:

# Start Vacation at:

vacation_start = argentina_vacation_df.loc[(argentina_vacation_df["City_ID"] == stop1)]
vacation_start = vacation_start.iloc[0]

vacation_stop1 = argentina_vacation_df.loc[(argentina_vacation_df["City_ID"] == stop2)]
vacation_stop1 = vacation_stop1.iloc[0]

vacation_stop2 = argentina_vacation_df.loc[(argentina_vacation_df["City_ID"] == stop3)]
vacation_stop2 = vacation_stop2.iloc[0]

vacation_stop3 = argentina_vacation_df.loc[(argentina_vacation_df["City_ID"] == end)]
vacation_stop3 = vacation_stop3.iloc[0]

vacation_end = argentina_vacation_df.loc[(argentina_vacation_df["City_ID"] <= end)]
vacation_end = vacation_end.iloc[0] 
                                     
print("Your Starting Destination is " + vacation_start["City"] + ", " + vacation_start["Country"])
print("Your Frist Stop is " + vacation_stop1["City"] + ", " + vacation_stop1["Country"])
print("Your Second Stop is " + vacation_stop2["City"] + ", " + vacation_stop2["Country"])                                     
print("Your Thirth Stop is " + vacation_stop3["City"] + ", " + vacation_stop3["Country"])                                     
print("Your Last Stop in your vacation is " + vacation_end["City"] + ", " + vacation_end["Country"])

Your Starting Destination is Mar Del Plata, AR
Your Frist Stop is San Rafael, AR
Your Second Stop is San Juan, AR
Your Thirth Stop is Villa Carlos Paz, AR
Your Last Stop in your vacation is Mar Del Plata, AR

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]]
print(start)

Lat   -38.0023
Lng   -57.5575
Name: 21, dtype: object

In [24]:
stop1 = vacation_stop1[["Lat", "Lng"]]
print(stop1)

Lat   -34.6177
Lng   -68.3301
Name: 60, dtype: object

In [25]:
stop2 = vacation_stop2[["Lat", "Lng"]]
print(stop2)

Lat   -31.5375
Lng   -68.5364
Name: 143, dtype: object

In [26]:
stop3 = vacation_stop3[["Lat", "Lng"]]
print(stop3)

Lat   -31.4241
Lng   -64.4978
Name: 243, dtype: object

In [27]:
end = vacation_end[["Lat", "Lng"]]
print(end)

Lat   -38.0023
Lng   -57.5575
Name: 21, dtype: object

In [28]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# USING DRIVING MODE!

import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

start = (-38.0023, -57.5575)
stop1 = (-34.6177, -68.3301)
stop2 = (-31.5375, -68.5364)
stop3 = (-31.4241, -64.4978)
end = (-38.0023, -57.5575)

fig = gmaps.figure()
sart2end_via_stops = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(sart2end_via_stops)
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# 8. To create a marker layer map between the cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

argentina_vacation_df = pd.concat([argentina_vacation_df],ignore_index=True)
argentina_vacation_df

,City_ID,City,Country,Lat,Lng,Max Temp,Current Description
0,59,Mar Del Plata,AR,-38.0023,-57.5575,72.00,light intensity drizzle
1,175,San Rafael,AR,-34.6177,-68.3301,73.02,clear sky
2,197,Buenos Aires,AR,-34.6132,-58.3772,82.00,broken clouds
3,362,San Luis,AR,-33.2950,-66.3356,74.61,overcast clouds
4,379,San Juan,AR,-31.5375,-68.5364,77.16,few clouds
5,629,Santiago Del Estero,AR,-27.7951,-64.2615,88.86,light rain
6,651,Villa Carlos Paz,AR,-31.4241,-64.4978,77.00,moderate rain

In [30]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
mark_info = [info_box_template.format(**row) for index, row in argentina_vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = argentina_vacation_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map.
city_mark = argentina_vacation_df["City"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=mark_info)

fig.add_layer(marker_layer)

In [32]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))